body {
    background-color: #232136;
    margin: 0;
    min-height: 100vh;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.lines {
    margin-top: auto;
    margin-bottom: auto;
    align-self: flex-start;
}

a:link {
    color: #c4a7e7;
    font-family: 'Lora';
    font-size: 17px;
}

a:visited {
    color: #c4a7e7;
    font-family: 'Lora';
    font-size: 17px;
}

.line1 {
    color: whitesmoke;
    font-family: 'Lora';
    font-size: 17px;
    padding-top: 0;
    padding-left: 25px;
    padding-right: 100px;
}

.line2 {
    color: whitesmoke;
    font-family: 'Lora';
    font-size: 17px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 100px;
}

.line3 {
    color: whitesmoke;
    font-family: 'Lora';
    font-size: 17px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 100px;
}

.line4 {
    color: whitesmoke;
    font-family: 'Lora';
    font-size: 17px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 100px;
}

.line5 {
    color: whitesmoke;
    font-family: 'Lora';
    font-size: 17px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 100px;
}

.footer {
    color: whitesmoke;
    font-family: 'Lora';
    font-size: 11px;
    padding-left: 25px;
    padding-right: 100px;
    padding-bottom: 10px;
}

.bluesky:visited {
    color: #c4a7e7;
    font-family: 'Lora';
    font-size: 11px;
}

.bluesky:link {
    color: #c4a7e7;
    font-family: 'Lora';
    font-size: 11px;
}

.discord:link {
    color: #c4a7e7;
    font-family: 'Lora';
    font-size: 11px;
}
